.calculation {
	overflow: hidden;
	position: relative;
	padding: 60px 0 71px 0;
	background-image: url('img/bg/calculation_bg_2.png');
	background-repeat: no-repeat;
	background-position: 115px 83px;
	background-color: #fbfbfb;
	&__image {
		position: absolute;
		top: 100px;
		right: 15px;
		background: url('img/bg/calculation_bg.png') no-repeat;
		width: 345px;
		height: 350px;
		img {
			position: absolute;
			top: 0;
			right: -30px;
			width: 398px;
			height: 359px;
			transform: scale(-1,1);
			-o-object-fit: contain;
			object-fit: contain;
			&:last-child {
				display: none;
			}
		}
	}
	&__title {
		margin: 0 auto 25px auto;
		max-width: 850px;
	}
	&__description {
		position: relative;
		margin: 0 0 32px 0;
	}
	&__form {
		position: relative;
	}
}
.cost-calculation {
	&__row {
		&:first-child {
			display: grid;
			grid-template-columns: repeat(4,260px);
			grid-column-gap: 15px;
			justify-content: center;
			margin: 0 0 36px 0;
		}
		&:nth-child(2) {
			display: flex;
			justify-content: center;
			margin: 0 0 19px 0;
		}
	}
	&__input {}
	&__button {}
	&__checkbox {
		@include flex_c;
	}
	.select2-container--default .select2-selection--single {
		width: 260px;
		height: 45px;
		border: none;
		border-radius: 22.5px;
		.select2-selection__placeholder {
			position: absolute;
			left: 22px;
			color: #1e90c8;
		}
		.select2-selection__rendered {
			padding: 0;
			height: 100%;
			@include flex_c;
			line-height: 0;
		}
		.select2-selection__arrow {
			top: 20px;
			right: 19px;
			width: 0px;
			height: 0px;
			b {
				border-color: #1e90c8 transparent transparent transparent;
			}
		}
	}
}
@media (max-width: 1200px) {
	.cost-calculation {
		&__row {
			&:first-child {
				grid-template-columns: repeat(2,260px);
				grid-row-gap: 6px;
			}
		}
	}
}
@media (max-width: 992px) {
	.calculation {
		padding: 30px 0 35px 0;
	}
}
@media (max-width: 576px) {
	.calculation {
		background-image: url('img/bg/calculation_bg_2_small.png');
		background-position: 0 230px;
		&__image {
			top: 200px;
			right: -33px;
			width: 143px;
			height: 145px;
			background: url('img/bg/calculation_bg_small.png');
			img {
				top: 0;
				right: -5px;
				width: 128px;
				height: 173px;
				&:first-child {
					display: none;
				}
				&:last-child {
					display: block;
					transform: scale(1,1);
				}
			}
		}
		&__description {
			margin: 0 0 18px 0;
		}
	}
	.cost-calculation {
		&__row {
			&:first-child {
				grid-template-rows: repeat(4,1fr);
				grid-template-columns: 260px;
			}
		}
	}
}