.popup-fade {
  display: none;
}
.popup-fade::before {
  content: "";
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: 9999;
}

.popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border: 1px solid orange;
  border-radius: 4px;
  z-index: 9999;
  opacity: 1;
}

.popup-close {
  position: absolute;
  padding: 10px;
  top: 0;
  right: 0;
}
.popup-close img {
  width: 40px;
  height: 40px;
}